body{

    background-color: #2b8e9181;
    
}
.subtitulo {
    color: rgb(34, 165, 73);
    text-align: center;
    font-size: 30px;
    }

.post_subtitulo {

    color: rgba(165, 42, 42, );
    text-align: center;
    }


    #titulo  {

        color: rgb(165, 34, 132);
        text-align: center;
        font-style: oblique;
        font-size: 50px;
        }
    
    
    




        









